<div class='col'>
    <button type="button" class="btn btn-block btn-success" name='editItem' value={{ inventory.item.id }} data-toggle="modal" data-target="#confirmSell-{{ inventory.item.id }}">Sell</button>
</div>

<div class="modal fade" id="confirmSell-{{ inventory.item.id }}" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Sell Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
            
                <form method='post' class='form'>
                    {% csrf_token %}
                
                    <div class="form-group">
                        {{ customer_form.first_name.errors }}
                        {{ customer_form.first_name.label }}
                        {{ customer_form.first_name }}
                    </div>
                    
                    <div class="form-group">
                        {{ customer_form.last_name.errors }}
                        {{ customer_form.last_name.label }}
                        {{ customer_form.last_name }}
                    </div>
                
                    <div class="form-check">
                        {{ customer_form.customer_type.errors }}
                        {{ customer_form.customer_type.label }}
                        {{ customer_form.customer_type }}
                    </div>                    
                
                    
                    {% for field in sell_item_form %}
                        <div class='form-check'>
                            {{ field.errors }}
                            {{ field.label }}
                            {{ field }}
                        </div>
                    {% endfor %}

                    <hr>

                    <div class='form-row'>
                        <div class='col'>
                            <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                        <div class='col'>
                            <button type="submit" formaction='sell/{{ inventory.item.id }}/' class="btn btn-block btn-success" name='sellItem' value={{ inventory.item.id }}>Confirm</button>
                        </div>
                    </div>        
                </form>

            </div>

        </div>

    </div>
</div>
