{% extends "base.html" %}

{% block content %}
    <div class="row h-100">
        <div class='col'>
            <table class="table table-hover">
                <thead class='fixed'>
                    <tr>
                        <th scope="col">Item No</th>
                        <th scope="col">Procurement Date</th>
                        <th scope="col">Name</th>
                        <th scope="col">Supplier</th>
                        <th scope="col">Procurement Method</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Retail Price</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inventory in inventory_list %}
                    <tr>
                        <td>{{ inventory.item.id }}</td>
                        <td>{{ inventory.item.procurement_date }}</td>
                        <td>{{ inventory.item.name }}</td>
                        <td>{{ inventory.item.supplier }}</td>
                        <td>{{ inventory.item.procurement_method }}</td>
                        <td>{{ inventory.item.cost }}</td>
                        <td>{{ inventory.item.retail_price }}</td>
                        <td>
                            <div class='row'>
                                {% include 'inventory/_inventory_sell.html' with inventory=inventory %}
                                {% include 'inventory/_inventory_delete.html' with inventory=inventory %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% include 'inventory/_footer_add_item.html' %}

{% endblock content %}
