{% extends "base.html" %}


{% comment %} TODO: Key Business Information Dashboard {% endcomment %}
{% block content %}
    <div class='container h-100'>
        <div class="row h-100">
            <div class='col text-center'>
                <table class="table table-hover">
                    <thead class='fixed'>
                        <tr>
                            <th scope="col">Item No</th>
                            <th scope="col">Item Acquired Date</th>
                            <th scope="col">Item Name</th>
                            <th scope="col">Item From</th>
                            <th scope="col">Item Get Price</th>
                            <th scope="col">Item Sell Price</th>
                            <th scope="col">Customer First Name</th>
                            <th scope="col">Customer Last Name</th>
                            <th scope="col">Customer Type</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for items in sold_items %}
                        <tr>
                            <td>{{ items.item.id }}</td>
                            <td>{{ items.item.procurement_date }}</td>
                            <td>{{ items.item.name }}</td>
                            <td>{{ items.item.supplier }}</td>
                            <td>{{ items.item.procurement_method }}</td>
                            <td>{{ items.item.cost }}</td>
                            <td>{{ items.item.retail_price }}</td>
                        </tr>
                        {% endfor %}

                        {% for customer in customers %}
                        <tr>
                            <td>{{ customer.first_name }}</td>
                            <td>{{ customer.last_name }}</td>
                            <td>{{ customer.customer_type }}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock content %}
