<!DOCTYPE html>
<html lang="en" style='height: 100%; body: 100%;'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <title>Document</title>
    </head>
    <body>

        <div class='container h-100'>
            <div class="row h-100">

                <div class='col text-center'>
                    <table class="table table-hover">
                        <thead class='fixed'>
                            <tr>
                                <th scope="col">Item No</th>
                                <th scope="col">Item Acquired Date</th>
                                <th scope="col">Item Name</th>
                                <th scope="col">Item From</th>
                                <th scope="col">Item Get Price</th>
                                <th scope="col">Item Sell Price</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <th scope="col">{{ item.item.item_id }}</th>
                                <td>{{ item.item_get_date }}</td>
                                <td>{{ item.item.item_name }}</td>
                                <td>{{ item.item.item_from }}</td>
                                <td>{{ item.item.item_get_price }}</td>
                                <td>{{ item.item.item_sell_price }}</td>
                                <td>
                                    <form method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success" name='sellItem' value={{ item.item.item_id }}>Sell Item</button>
                                        <button type="submit" class="btn btn-warning" name='editItem' value={{ item.item.item_id }}>Edit</button>
                                        <button type="submit" class="btn btn-danger" name='deleteItem' value={{ item.item.item_id }}>Delete</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <footer class="footer fixed-bottom bg-light" style='height: 15vh;'>
        
            <div class='row h-100 align-items-center'>
                <div class="col">
                    <form class="form-inline justify-content-center" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class='form-group'>
                                <div class='col'>
                                    {{ field.errors }}
                                    <div>{{ field.label }}</div>
                                    <div>{{ field }}</div>
                                </div>
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn-primary btn" name="addItem">Add Item</button>
                    </form>
                </div>
            </div>

        </footer>

            
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>