{% extends "base.html" %}

{% block content %}
    <div class='container h-100'>
        <div class="row h-100">
            <div class='col text-center'>
                <table class="table table-hover">
                    <thead class='fixed'>
                        <tr>
                            <th scope="col">Item No</th>
                            <th scope="col">Procurement Date</th>
                            <th scope="col">Name</th>
                            <th scope="col">Supplier</th>
                            <th scope="col">Procurement Method</th>
                            <th scope="col">Cost</th>
                            <th scope="col">Retail Price</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for items in inventory %}
                        <tr>
                            <td>{{ items.item.id }}</td>
                            <td>{{ items.item.procurement_date }}</td>
                            <td>{{ items.item.name }}</td>
                            <td>{{ items.item.supplier }}</td>
                            <td>{{ items.item.procurement_method }}</td>
                            <td>{{ items.item.cost }}</td>
                            <td>{{ items.item.retail_price }}</td>
                            <td>
                                <form method="post">
                                    {% csrf_token %}
                                    {% comment %} <button type="submit" class="btn btn-success" name='sellItem' value={{ items.item.id }}>Sell Item</button> {% endcomment %}
                                    {% comment %} <button type="button" class="btn btn-warning" name='editItem' value={{ item.id }} data-toggle='modal' data-target='#editItem'>Edit</button> {% endcomment %}
                                    {% include 'inventory-sell.html' with items=items %}
                                    {% include 'inventory-edit.html' with items=items %}
                                    {% include 'inventory-delete.html' with items=items %}
                                </form>
                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% include 'footer.html' %}

{% endblock content %}
